body{
    background: #ce0033;
    align-items: center;
}


p{
    text-align: center;
}
label{
    color: yellow;
}


fieldset{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    align-content: center;
    margin: auto;
}
label:hover{
    color: red;
}